@model Category
@{
    ViewData["Title"] = "Detail";
}

<h2>Detail</h2>

@Html.DisplayNameFor(model => model.Id)
@Html.DisplayFor(model => model.Id) <br />

@Html.DisplayNameFor(model => model.Titlle)
@Html.DisplayFor(model => model.Titlle) <br />

@Html.DisplayNameFor(model => model.Description)
@Html.DisplayFor(model => model.Description) <br />

@Html.DisplayNameFor(model => model.Checked)
@Html.DisplayFor(model => model.Checked) <br />

@Html.DisplayNameFor(model => model.Group)
@Html.DisplayFor(model => model.Group) <br />